pandas~=2.1.1
numpy~=1.26.1
torch
torchvision
Pillow~=10.1.0
einops~=0.7.0
lion-pytorch
ema-pytorch>=0.0.3
pytorch_warmup
tqdm~=4.66.1
kornia~=0.7.0
beartype~=0.16.4
pydantic~=2.4.2
pyyaml
matplotlib
wandb
fsspec
fastai~=2.7.13

torchmetrics
torch-fidelity

